<h2>Libros</h2>

<a href="/books/create" class="btn btn-primary mb-3">Crear Libro</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Título</th>
            <th>Año</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Editorial</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {{#each books}}
        <tr>
            <td>{{this.title}}</td>
            <td>{{this.year}}</td>
            <td>{{this.Author.name}}</td>
            <td>{{this.Category.name}}</td>
            <td>{{this.Editorial.name}}</td>
            <td>
                <a href="/books/{{this.id}}/edit" class="btn btn-warning btn-sm">Editar</a>
                <a href="/books/{{this.id}}/delete" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>